name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Generate Tag
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    - name: Test with environment variables
      run: echo $TAG_NAME
      env:
        TAG_NAME: ${{ env.date }}
    
    - name: Install node
      uses: actions/setup-node@v4
      with:
        node-version: '21.1'

    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: test
      run: dotnet test
      working-directory: ./src/DeploymentCenter
    - name: build
      run: dotnet build -c Release
      working-directory: ./src/DeploymentCenter
    - name: copy files
      run: |
        cp -r ./DeploymentCenter/bin/Release/net8.0 .
        ls -l
      working-directory: ./src/DeploymentCenter
    - name: docker build
      run: docker build -t dulik65/deployment-center-api:test .
      working-directory: ./src/DeploymentCenter

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: docker push
      run: docker push dulik65/deployment-center-api:test
