name: Build and Deploy

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Install node
      uses: actions/setup-node@v4
      with:
        node-version: '21.1'

    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Build
      run: dotnet publish
      working-directory: ./src/DeploymentCenter

    - name: Run Tests
      run: dotnet test
      working-directory: ./src/DeploymentCenter
      
    - name: Copy Output
      run: |
        cp -r ./DeploymentCenter/bin/Release/net8.0/publish .
        ls -l
      working-directory: ./src/DeploymentCenter

    - name: Build
      run: dotnet publish
      working-directory: ./src/DeploymentCenter.Frontend

    - name: Run Tests
      run: dotnet test
      working-directory: ./src/DeploymentCenter.Frontend
      
    - name: Copy Output
      run: |
        cp -r ./DeploymentCenter.Frontend.Server/bin/Release/net8.0/publish .
        ls -l
      working-directory: ./src/DeploymentCenter.Frontend

    - name: 'Upload Artifact Api'
      uses: actions/upload-artifact@v4
      with:
        name: deployment-center-api
        path: ./src/DeploymentCenter/publish
        retention-days: 1

    - name: 'Upload Artifact Frontend'
      uses: actions/upload-artifact@v4
      with:
        name: deployment-center-frontend
        path: ./src/DeploymentCenter.Frontend/publish
        retention-days: 1

  release-api:
    runs-on: ubuntu-latest
    environment: prod
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: deployment-center-api
        path: ./src/DeploymentCenter/publish

    - name: Generate Tag
      id: tag
      run: echo "tag=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
    
    - name: Docker Build
      run: |
        ls -l
        docker build -t dulik65/deployment-center-api:${{ env.tag }} .
      working-directory: ./src/DeploymentCenter

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Docker Push
      run: docker push dulik65/deployment-center-api:${{ env.tag }}
      
  release-frontend:
    runs-on: ubuntu-latest
    environment: prod
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: deployment-center-frontend
        path: ./src/DeploymentCenter.Frontend/publish

    - name: Generate Tag
      id: tag
      run: echo "tag=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV
        
    - name: Docker Build
      run: |
        ls -l
        docker build -t dulik65/deployment-center-frontend:${{ env.tag }} .
      working-directory: ./src/DeploymentCenter.Frontend

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Docker Push
      run: docker push dulik65/deployment-center-frontend:${{ env.tag }}
